@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: #1e1e1e;
}
h1{
    color: azure;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    opacity: 35%;
    margin-left: 15px;
}
.text-container{
    width: 70%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    color: azure;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    font-size: 30px;
}
.refresh-btn{
    position: absolute;
    top: 80%;
    left: 50%;
}
.result-details{
    color: white;
}

.wrapper {
    width: 1000px;
    padding: 35px;
    top:20%;
    left:15%;
    position: absolute;
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text p span {
    position: relative;
}
.typing-text p span.correct {
    color: #616161;
}
.typing-text p span.incorrect {
    color: #ff4f61;
    border-radius: 4px;
}
.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #007acc;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #007acc;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;

    background: none;
    transition: transform 0.2s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
    background: #FFFFFF;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li p {
    font-size: 20px;
}
.result-details li span {
    display: block;
    font-size: 40px;
    font-family: "Space Mono", monospace;
    margin-left: 10px;
    color:#ca4754;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
}
.socials-container{
    position: absolute;
    right: 30px;
    top: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
}
.refresh-btn{
    background-color: transparent;
    font-style: none;
    padding-right:10px ;
}
a:link {
    text-decoration: none;
}
.space{
    padding-left: 20px;
}